services:
  osrm-extract:
    image: osrm/osrm-backend:latest
    volumes:
      - ./osrm:/data
    command: osrm-extract -p /data/profiles/truck.lua /data/serbia-latest.osm.pbf
    profiles: ["build"]

  osrm-partition:
    image: osrm/osrm-backend:latest
    volumes:
      - ./osrm:/data
    command: osrm-partition /data/serbia-latest.osrm
    profiles: ["build"]

  osrm-customize:
    image: osrm/osrm-backend:latest
    volumes:
      - ./osrm:/data
    command: osrm-customize /data/serbia-latest.osrm
    profiles: ["build"]

  osrm-routed:
    image: osrm/osrm-backend:latest
    volumes:
      - ./osrm:/data
    ports:
      - "5000:5000"
    command: osrm-routed --algorithm mld /data/serbia-latest.osrm
